@media screen and (max-width: 525px) {
    header{
        justify-content: flex-end;
        height: auto;
    }
    header a{
        display: none;
    }

    .menu{
        margin: 10px;
        display: block;
        width: 45px;
        height: 45px;
        button{
            cursor: pointer;
            padding: 3px;
            border-radius: 5px;
            height: inherit;
            border: none;
            display: flex;
            img{
                margin: auto;
                width: 100%;
            }
        }
    }
    .menu img{
        width: 100%;
    }
    #menu{
        position: absolute;
        top: 100%;
        width: 200px;
        right: 0;
        border-radius: 0 0 0 15px;
        background-color: #333232;
    }
    header.open #menu a{
        display: block;
        text-align: end;
        color: white;
        margin: 10px 10px;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 525px) and (max-width: 1030px) {
    header{
        justify-content: flex-end;
        height: auto;
    }
    header a{
        display: none;
    }
    .menu{
        margin: 10px;
        display: block;
        width: 45px;
        height: 45px;
        button{
            cursor: pointer;
            padding: 3px;
            border-radius: 5px;
            height: inherit;
            border: none;
            display: flex;
            img{
                margin: auto;
                width: 100%;
            }
        }
    }

    #menu{
        position: absolute;
        top: 100%;
        width: 200px;
        right: 0;
        border-radius: 0 0 0 15px;
        background-color: #333232;
    }
    header.open #menu a{
        display: block;
        text-align: end;
        color: white;
        margin: 10px 10px 20px;
    }
}